<div>
    <p><%= PixSetting.human_attribute_name('pix_key') %>: <%= payment_setting.pix_key %></p>
    <p><%= PixSetting.human_attribute_name('bank_code') %>: <%= payment_setting.bank_code %></p>
</div>