<header class="text-gray-600 body-font bg-white">
    <nav class="flex justify-start mb-4 border-b border-gray-600">
      <% if current_admin %>
        <%= link_to 'Criar método de pagamento', new_admin_payment_method_path, class: "mx-5 py-2" %>
        <%= link_to 'Listar métodos de pagamentos', admin_payment_methods_path, class: "mx-5 py-2" %>
      <% end %>
    </nav>
</header>
