<div>
    <% PaymentMethod.types.each do |payment_method_type| %>
        <span>
        <%= 
        link_to "#{t('.new_payment_setting_prefix')} #{PaymentMethod.human_type_of_name(payment_method_type).downcase}", 
        "/#{payment_method_type}_settings/new" 
        %>
        </span>
    <% end %>
</div>

<div>
  <% @payment_settings.each do |ps| %>
    <%= render partial: "payment_settings/#{ps.class}", locals: { payment_setting: ps } %>
  <% end %>
</div>
